<header class="glass-header">


    <a href="main.html" class="brand">


        <img 
            src="images/kaspiysk-logo.png"
            alt="Герб Каспийска"
        >


        <div class="brand-text">


            <h2>
                Открытый Каспийск
            </h2>


            <span>
                Геоинформационная система города
            </span>


        </div>


    </a>





    <nav class="main-nav">


        <a href="main.html" data-page="main">
            Главная
        </a>


        <a href="index.html" data-page="map">
            Карта
        </a>


        <a href="index.html" data-page="problems">
            Проблемы
        </a>


        <a href="outages.html" data-page="outages">
            Отключения
        </a>


        <a href="#" data-page="objects">
            Объекты
        </a>


        <a href="#" data-page="news">
            Новости
        </a>


    </nav>





    <div class="header-actions">


        <button title="Уведомления">

            🔔

        </button>



        <button title="Погода">

            🌤
            <span>
                28°
            </span>

        </button>



        <button title="Войти">

            👤

        </button>


    </div>




</header>