<header class="header">

    <a href="main.html">

        <img 
            src="images/kaspiysk-logo.png"
            class="city-logo"
            alt="Герб Каспийска"
        >

    </a>


    <div class="header-title">

        <h1>
            🗺 Открытый Каспийск
        </h1>

        <p>
            Геоинформационная система города
        </p>

    </div>


    <nav class="menu">

        <a href="main.html">
            Главная
        </a>


        <a href="index.html">
            🚨 Проблемы
        </a>


        <a href="about.html">
            ℹ️ О проекте
        </a>

    </nav>


</header>